<!-- Main -->
<div class="w-full flex flex-col items-center justify-center">
    <div
        class="text-4xl md:text-7xl font-extrabold tracking-tight leading-tight md:leading-none text-center"
    >
         404 Not Found
    </div>
    <div
        class="mt-2 text-lg md:text-xl font-medium tracking-tight text-center text-secondary"
    >
        The page you are looking for cannot be found.
    </div>
    <a
        [routerLink]="['/']"
        class="mt-12 font-medium underline text-primary-500"
    >
        Back to Dashboard
    </a>
</div>
