<!-- Button -->
<button
    [matMenuTriggerFor]="userActions"
    mat-icon-button
    [ngStyle]="{
        'background-image': userProfile?.picture
            ? 'url(' + userProfile.picture + ')'
            : '',
        'background-size': 'cover',
        'background-position': 'center'
    }"
>
    <span class="relative text-lg" >
        
    </span>
</button>

<mat-menu #userActions="matMenu" [xPosition]="'before'">
    <!-- <mat-divider class="my-2"></mat-divider> -->
    <button mat-menu-item (click)="goToProfile()">
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>Profile</span>
    </button>
    <!-- <button mat-menu-item (click)="goToSettings()">
        <mat-icon [svgIcon]="'heroicons_outline:cog'"></mat-icon>
        <span>Settings</span>
    </button> -->
    <!-- <button
        [matMenuTriggerFor]="userStatus"
        mat-menu-item>
        <mat-icon [svgIcon]="'heroicons_outline:dots-circle-horizontal'"></mat-icon>
        <span>Status</span>
    </button> -->
    <mat-divider class="my-2"></mat-divider>
    <button (click)="logout()" mat-menu-item>
        <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
        <span>Sign out</span>
    </button>
</mat-menu>
