@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
    --matchnhire-font: "Manrope", sans-serif;
    --matchnhire-heading-font: "Manrope", serif;
    --matchnhire-special-font: "reeyregular", cursive;
    --matchnhire-text: #696e76;
    --matchnhire-text-rgb: 105, 110, 118;
    --matchnhire-text-dark: #7e8c9e;
    --matchnhire-text-dark-rgb: 126, 140, 158;
    --matchnhire-text-gray: #89868d;
    --matchnhire-text-gray-rgb: 137, 134, 141;
    --matchnhire-base: #f32a35;
    --matchnhire-base-rgb: 0, 205, 229;
    --matchnhire-primary: #000;
    --matchnhire-primary-rgb: 11, 47, 129;
    --matchnhire-gray: #f0f3f9;
    --matchnhire-gray-rgb: 240, 243, 249;
    --matchnhire-white: #fff;
    --matchnhire-white-rgb: 255, 255, 255;
    --matchnhire-black: #0b182a;
    --matchnhire-black-rgb: 11, 24, 42;
    --matchnhire-black2: #12243c;
    --matchnhire-black2-rgb: 18, 36, 60;
    --matchnhire-black3: #000;
    --matchnhire-black3-rgb: 0, 0, 0;
    --matchnhire-border-color: #cbd2da;
    --matchnhire-border-color-2: #ced5dd;
    --matchnhire-border-color-rgb: 203, 210, 218;
    --matchnhire-border-color-rgb-2: 206, 213, 221;
    --matchnhire-letter-space-sm: -0.04em;
    --matchnhire-letter-space: 0.1em;
    --matchnhire-letter-space-xl: 0.2em;
  }
