<!--<empty-layout *ngIf="layout === 'empty'"></empty-layout>-->


<!--<centered-layout *ngIf="layout === 'centered'"></centered-layout>-->


<!--<enterprise-layout *ngIf="layout === 'enterprise'"></enterprise-layout>-->


<!--<material-layout *ngIf="layout === 'material'"></material-layout>-->


<!--<modern-layout *ngIf="layout === 'modern'"></modern-layout>-->

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with vertical navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<classy-layout *ngIf="layout === 'classy'"></classy-layout>

