/* Add any other table styling here */

.table-container {
    max-height: 400px; /* Adjust the max height as needed */
    overflow-y: auto; /* Enable vertical scroll */
}

.delete-button {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #cc0000;
}

.edit-button {
  background-color: yellow;
  color: black;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #ffcc00;
}
